<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>订单详情</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/index.css">
</head>
<body>

<div class="weui-tab" id="app" v-cloak>
	  <div class="weui-navbar flex channel_1">
	    <img width="25" height="25" src="icon/地址-2.png" alt="">
	    <div class="channel_2">
	    	<p v-html="host.name"></p>
	    	<p v-html="host.address" class="no-wrap"></p>
	    </div>
	    <div class="weui-cell_access">
	    	<div class="weui-cell__ft"></div>
	    </div>
	  </div>

	  <div class="weui-tab__bd">
	    <div class="weui-tab__bd-item weui-tab__bd-item--active">
	      <div class="weui-panel weui-panel_access" v-for="item in orderList">
			  <div class="weui-panel__hd">{{item.title}} <span class="fr status_alive" v-if="item.status" v-html="item.status"></span></div>
			  <div class="weui-panel__bd">
			    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd">
			        <img class="weui-media-box__thumb" src="https://finance.gucheng.com/UploadFiles_7830/201412/2014120815055793.jpg">
			      </div>
			      <div class="weui-media-box__bd clearfix" style="position: relative;">
			        <h4 class="weui-media-box__title"><span>{{item.name}}</span><span class="price fr"><b>￥{{item.price}}</b></span></h4>
			        <span class="createDate">{{item.createDate}}</span>
			        <div class="weui-media-box__desc fr" style="margin-top: 20px;visibility: hidden">
			        	<span class="smallBtn cancle">撑起高度</span>
			        </div>
			      </div>
			    </a>
			  </div>
			</div>
	
			<div class="weui-footer">
			  <p class="weui-footer__text">订单号：15468356565653625</p>
			  <p class="weui-footer__text">下单时间：2017-05-02</p>
			</div>
	    </div>
	  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>	
<script type="text/javascript" src="http://static.jsk365.com/lib/vue/2.5.3/vue.min.js"></script>
<script>
	var fakeMsg = [
		{
			title: 'XXX医疗器械专型',
			name: '液体营养剂',
			price: '85.00',
		},
		{
			title: '益丰大药房',
			name: '健康养生专家讲堂',
			price: '0.00',
			createDate: '2018-03-01'
		},
		{
			title: '益丰大药房',
			name: '养生堂维生素',
			price: '0.00',
		},
		{
			title: '益丰大药房',
			name: '养生堂维生素',
			price: '0.00',
		},
		{
			title: '益丰大药房',
			name: '养生堂维生素',
			price: '0.00',
		},
		{
			title: '益丰大药房',
			name: '养生堂维生素',
			price: '0.00',
		},
		// {
		// 	title: '益丰大药房',
		// 	name: '养生堂维生素',
		// 	price: '0.00',
		// 	status: '已取消'
		// }
	]

	var hostMsg = {
		name: '李云龙',
		address: '晋西北独立团团长晋西北独立团团长晋西北独立团团长晋西北独立团团长',
		phone: '13298235165'
	}


	var app = new Vue({
		el: '#app',
		data: {
			orderList: fakeMsg,
			host: hostMsg,
			activeTitle: 0
		},
		methods:{
		}
	})
</script>
</body>
</html>